@font-face {
  font-family: navbarFont;
  src: url(../fonts/LoveYaLikeASister-Regular.ttf);
}
@font-face {
  font-family: headingFont;
  src: url(../fonts/YeonSung-Regular.ttf);
}
@font-face {
  font-family: contentFont;
  src: url(../fonts/Dosis-Regular.ttf);
}
.navbar {
  background-color: #71a1e1;
  font-family: navbarFont;
}

#navbarItems ul li a {
  color: azure;
}

#navbarItems ul li a:hover {
  color: rgba(41, 6, 33, 0.491);
  font-size: 24px;
}

.banner {
  background-color: #c9ebe2bd;
}

.col-md-6.left_banner {
  border-bottom-right-radius: 10cm;
  background-color: #e4edea;
  height: 29vw;
}

.col-md-6.left_banner p {
  font-family: navbarFont;
  font-size: 30px;
  color: rgb(62, 145, 247);
  margin-left: 2px;
}

.col-md-6.right_banner {
  height: 29vw;
}

.col-md-6.right_banner img {
  margin-left: 10%;
}

.container .row h1{
  font-family: headingFont;
  color: #274ad7;
  margin-top: 3px;
  text-align: center;
}
.container .programs div{
  height: 400px;
  border: 2px solid rgb(50, 24, 243);
  border-radius: 10px;
}
.container .programs div:hover{
  background-color: #274ad7;
  animation: bounce;
  animation-duration: 1s;
}

.container .programs div p{
  text-align: justify;
  font-family: contentFont;
  font-size: large;
}

.container .programs div h4{
  color: rgb(240, 45, 45);
  text-align: center;
}

.container .programs div h5{
  text-align: center;
  color: #274ad7;
}

.container .programs div:hover h5{
  color: #ffea00;
}

.container .programs div:hover p{
  color: #e1efe4bd;
}

.container-fluid .row h1{
  font-family: headingFont;
  color: #274ad7;
  margin-top: 10px;
  text-align: center;
}

.container-fluid .row.cocaricular{
  height: 100%;
  background-color: rgb(225, 220, 209);
}

.container-fluid .row h5{
  font-family: headingFont;
  color: #444be0;
  margin-top: 1px;
  text-align: center;
}

.cocaricular .row .event{
  /* background-color: rgb(255, 255, 255); */
  margin: 4%;
}

.cocaricular .row .event img{
  border: 3px dashed rgb(144, 33, 235);
  box-shadow: 12px 5px 2px 1px rgba(0, 0, 255, .2);
  width: 190px;
  height: 190px;
  border-radius: 150%;
  padding: 1%;
}

.cocaricular .row .event p{
  font-family: contentFont;
  color: #ff2600;
  font-size: 25px;
  text-overflow: clip;
  text-align: center;
}

/*screen wise stylling-->*/

@media only screen and (max-width: 600px) {
  .navbar {
    font-size: 15px;
  }
  .banner{
    height: 350px;
  }
  .col-md-6.left_banner{
    height: 200px;
  }
  .col-md-6.left_banner p{
    font-size: 20px;
    margin-top: 30px;
  }
  .col-md-6.right_banner img {
    height: 40vw;
    margin-left: 30%;
  }
  .container .programs div{
    height: 500px;
  }
  .cocaricular .row .event img{
    margin-left : 25%;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    font-size: 18px;
  }

  .col-md-6.left_banner p{
    font-size: 20px;
    margin-top: 30px;
  }

  .col-md-6.right_banner img {
    height: 28vw;
    margin-left: 30%;
  }

  .container .programs div{
    height: 500px;
  }

}

@media only screen and (min-width: 768px) {
  .navbar {
    font-size: 20px;
  }

  .col-md-6.right_banner img {
    height: 28vw;
  }

  .col-md-6.left_banner p{
    font-size: 25px;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    font-size: 22px;
  }

  .col-md-6.right_banner img {
    height: 30vw;
  }
  .col-md-6.left_banner p.inst-name{
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    font-size: 22px;
  }

  .col-md-6.right_banner img {
    height: 31vw;
  }

  .col-md-6.left_banner p.inst-name{
    margin-top: 50px;
  }

}